PORT=3000
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

# Replace with your real Hubtel values later
HUBTEL_CLIENT_ID=your_hubtel_client_id
HUBTEL_CLIENT_SECRET=your_hubtel_client_secret
HUBTEL_MERCHANT_ACCOUNT_NUMBER=your_hubtel_merchant_account_number
HUBTEL_BASE_URL=https://api.hubtel.com
APP_BASE_URL=https://your-real-backend-url.com
